:root {
  --primary-color: #007aff;
  --background-color: rgb(144, 202, 249);
  --background-color-light: #ffffff;
  --background-card: rgb(236, 244, 251);

  --hover-background-color: rgb(100, 181, 246);
  
  --foreground-color: rgb(33, 33, 33);
  --foreground-color-light:rgb(117, 117, 117);
}

body {
  font-family: "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: #ffff;
}

.container {
  font-size: 3rem;
  display: flex;
  gap: 0.5rem;
  height: 100vh;
  width: 100vw;
}

.main {
  flex: 1;
  padding: 20px;
  /* background-color: cyan; */
}

.title {
  margin-bottom: 1rem;
}

.main-drawer {
  /* height: 100vh - 1px; */
  border: 1px solid var(--foreground-color-light);
}

.drawer {
  width: 150px;
  padding: 20px;
  border: 1px solid var(--foreground-color-light);
  height: 100vh - 1px;
}